@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'katex/dist/katex.min.css';

.button {
  @apply flex flex-row items-center justify-center rounded-lg bg-primary px-5 py-2 font-semibold text-white decoration-transparent shadow-lg transition-colors hover:bg-primary-dark active:bg-primary-darker disabled:opacity-70;
}

.link {
  color: #0084f0;
}

.link-light {
  color: #8fc2ec;
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

main > :not(.section):last-child {
  padding-bottom: 2rem;
}
main > .section:last-child {
  padding-bottom: 5rem;
}

.divider {
  @apply my-4 h-[1px] w-full bg-gray-300;
}

.prose {
  h1 {
    @apply text-3xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  a {
    @apply decoration-[0.1em] underline-offset-2 transition-all;
  }
}

.morse {
  font-family: var(--font-morse);
  letter-spacing: 0.6em;
}

.text-center .morse,
.text-center.morse {
  text-indent: 0.6em;
}
