.image {
  max-width: 100% important;
  max-height: 20rem !important;
  height: auto !important;
  margin: auto !important;
  object-fit: contain !important;
}

.answer {
  justify-content: start !important;
  text-align: start !important;
  height: auto !important;
  white-space: normal !important;
}
